name: Build my gitbook and deploy to gh-pages

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Node 16 (GitBook requires old Node)
      uses: actions/setup-node@v3
      with:
        node-version: "16"

    - name: Install GitBook CLI
      run: |
        npm install -g gitbook-cli

    - name: Install GitBook plugins
      run: |
        cd book_sources
        gitbook install

    - name: Build GitBook
      run: |
        cd book_sources
        gitbook build ./ ../_book

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_book

