name: Build my gitbook and deploy to gh-pages

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build-and-deploy:
    name: Build and deploy
    runs-on: ubuntu-latest
    env:
      MY_SECRET   : ${{secrets.GH_ACCESS_TOKEN}}
      USER_NAME   : icetu
      USER_EMAIL  : icetu0228@gmail.com
      BOOK_DIR    : book_sources

    steps:
    - name: Checkout 
      uses: actions/checkout@v3

    - name: Free Disk Space
      run: |
        echo "=== Clean docker ==="
        docker system prune -af || true
        docker volume prune -f || true

        echo "=== Remove huge preinstalled SDKs ==="
        sudo rm -rf /usr/local/lib/android || true
        sudo rm -rf /usr/share/dotnet || true
        sudo rm -rf /opt/hostedtoolcache || true

        echo "=== Clean npm and yarn caches ==="
        npm cache clean --force || true
        yarn cache clean || true

        echo "=== Show free disk space ==="
        df -h
        
    - name: Build and Deploy 
      uses: onejar99/gitbook-build-publish-action@v1.0.3


