name: Build my gitbook and deploy to gh-pages

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install Node 16 (HonKit compatible)
      uses: actions/setup-node@v3
      with:
        node-version: "16"

    - name: Install HonKit (pinned stable version)
      run: |
        npm install -g honkit@6.7.4

    - name: Install plugins
      run: |
        cd book_sources
        honkit install

    - name: Build book
      run: |
        cd book_sources
        honkit build ./ ../_book

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./_book
